<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12" >
        <v-img
          :src="require('../assets/logoholcim.jpg')"
          class="my-3"
          contain
          height="100"
        />
      </v-col>

      <v-col class="ma-1">
        <h1 class="display-1 font-weight-bold mb-3">
          Toma 2 pasos para analizar tu tarea
        </h1>

      </v-col>

      <v-col
        class="mb-1"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Identificación
        </h2>

        <v-row justify="center">
         
          <v-col cols="10">
            <v-text-field
              label="Nombre"
              placeholder="Clave"
              hide-details
            ></v-text-field>
          </v-col>  

          <v-col cols="10">
            <v-text-field
              hide-details
              label="Tarea"
              placeholder="Clave"
            ></v-text-field>
          </v-col>  

          <v-col cols="10">
            <v-text-field
              label="Area"
              placeholder="Clave"
              hide-details
            ></v-text-field>
          </v-col>  
          
           <v-col
              cols="10"
              sm="6"
              md="4"
            >
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="date"
                    label="Picker without buttons"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="date"
                  @input="menu2 = false"
                ></v-date-picker>
              </v-menu>
            </v-col>          


            <v-col cols="10"> 
           
             <v-toolbar dense dark color="green lighten-1">
               Comunicación
             </v-toolbar>
            <v-radio-group
              multiple
              v-model="comunicacion"
            >
              
              <v-radio
                label="¿Informé a las personas y área involucrada?"
                value="radio-1"
              ></v-radio>

              <v-radio
                label="¿Mi supervisor en turno está enterado de lo que hará y como lo hará?"
                value="radio-2"
              ></v-radio>
              <v-radio
                label="¿Se requiere solicitar autorización de ingreso al área?"
                value="radio-3"
              ></v-radio>
              <v-radio
                label="¿La instrucción de la actividad se recibió claramente ?"
                value="radio-4"
              ></v-radio>

              <v-radio
                label="¿Entiendo lo que voy a hacer y no tengo dudas acerca de cómo realizar la actividad?"
                value="radio-5"
              ></v-radio>

            </v-radio-group>
          </v-col>


          <v-col cols="10"> 
           
             <v-toolbar  dark color="green lighten-1">
               Equipo de Protección Personal adecuado
             </v-toolbar>
          
            <v-radio-group
              multiple
              v-model="equipo"
            >    
              <v-radio
                label="¿El EPP que utilizare es el adecuado y suficiente para el trabajo?"
                value="radio-1"
              ></v-radio>

              <v-radio
                label="¿Revisé el EPP y se encuentra en buenas condiciones?"
                value="radio-2"
              ></v-radio>
             
              <v-radio
                label="¿Qué equipo adicional o especial requiero?"
                value="radio-3"
              ></v-radio>

            </v-radio-group>
          </v-col>


          <v-col cols="10">            
            <v-toolbar  dark color="green lighten-1">
              Exposición a los peligros y/o energías
            </v-toolbar>
          
            <v-radio-group
              v-model="energia"
              multiple
            >    
              <v-radio
                label="¿Pueden mis manos alguna parte de mi cuerpo golpear contra objetos?"
                value="radio-11"
              ></v-radio>

              <v-radio
                label="¿Puede ser golpeado por objetos o vehículos?"
                value="radio-12"
              ></v-radio>
             
              <v-radio
                label="¿Puedo quedar atrapado sobre, entre o dentro de equipos?"
                value="radio-13"
              ></v-radio>

              <v-radio
                label="¿Puedo sufrir caídas a desnivel o al mismo nivel?"
                value="radio-14"
              ></v-radio>

              <v-radio
                label="¿ Puedo entrar en contacto con temperaturas extremas ?"
                value="radio-15"
              ></v-radio>
             
              <v-radio
                label="¿ Puedo entrar en contacto con corriente eléctrica ?"
                value="radio-16"
              ></v-radio>


              <v-radio
                label="¿ Puedo inhalar o entrar en contacto con una sustancia peligrosa ?"
                value="radio-17"
              ></v-radio>

              <v-radio
                label="¿ Existe energía gravitacional o potencial que se pueda liberar ?"
                value="radio-18"
              ></v-radio>
             
              <v-radio
                label="¿ Existen obstáculos que puedan generar tropezones o resbalones ?"
                value="radio-19"
              ></v-radio>


              <v-radio
                label="¿ Puede haber un arranque repentino de equipos ?"
                value="radio-20"
              ></v-radio>

            </v-radio-group>
          </v-col>

          <v-col cols="10"> 
           
             <v-toolbar  dark color="green lighten-1">
               Herramientas y equipo
             </v-toolbar>
          
            <v-radio-group
              multiple
              v-model="hta"
            >    
              <v-radio
                label="¿ He revisado la herramienta y se encuentra en buenas condiciones ?"
                value="radio-21"
              ></v-radio>

              <v-radio
                label="¿ La herramienta es la adecuada para el trabajo ?"
                value="radio-22"
              ></v-radio>
             
              <v-radio
                label="¿ Requiero herramienta adicional ?"
                value="radio-23"
              ></v-radio>

            </v-radio-group>
          </v-col>

          <v-col cols="10"> 
           
            <v-toolbar   dark color="green lighten-1">
               Orden y limpieza, procedimientos e instructivos
            </v-toolbar>
          
            <v-radio-group
              multiple
              v-model="orden"
            >    
              <v-radio
                label="¿ Existe algún instructivo, AST, o procedimiento que aplique y deba consultar ?"
                value="radio-31"
              ></v-radio>

              <v-radio
                label="¿ Existe el orden, limpieza y espacios suficientes para realizar la actividad ?"
                value="radio-32"
              ></v-radio>
             
              <v-radio
                label="¿ Está relacionado con un FPE o requiero un permiso ?"
                value="radio-33"
              ></v-radio>

            </v-radio-group>
          </v-col>

          <v-col cols="10"> 
           
            <v-toolbar   dark color="green lighten-1">
               Condiciones Físicas Mentales
            </v-toolbar>
          
            <v-radio-group
              multiple
              v-model="condicion"
            >    
              <v-radio
                label="¿ Me siento apto y estoy capacitado ?"
                value="radio-41"
              ></v-radio>

              <v-radio
                label="¿ Mi condición física me lo permite ?"
                value="radio-42"
              ></v-radio>
             


            </v-radio-group>
          
          </v-col>

          <v-col cols="10">
            <v-alert
            color="red"
            dark
            border="top"
            dense
            type="error"
          >
            ¿ Mi estado mental me permite hacer la tarea?.
          
          </v-alert>

        </v-col>

        <v-col cols="10">
            <v-radio-group
              multiple
              v-model="mental"
            >    
              <v-radio
                label="Prisa"
                value="radio-41"
              ></v-radio>

              <v-radio
                label="Fatiga"
                value="radio-42"
              ></v-radio>
              
              <v-radio
                label="Exceso de Confianza"
                value="radio-43"
              ></v-radio>

              <v-radio
                label="Problemas que me molesten o distraen"
                value="radio-44"
              ></v-radio>
            </v-radio-group>

          </v-col>  
          <v-alert            
            dark
            border="left"
            
            dense
            type="success"
          >
            NOTA: Si sus estados mentales lo distraen de la tarea, tomes el tiempo para corregirlos y/o hable con su supervisor. Eleve su nivel de alerta.
            
            <!-- <v-btn color="blue"> Llamar</v-btn> -->

          </v-alert>


        </v-row>
      </v-col>


      <v-col class="mb-5" cols="12">
        <v-btn color="success">Grabar</v-btn>
      </v-col>  


<!--       <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Casos de Emergencia
        </h2>

        <v-row justify="center">
          <a
            v-for="(link, i) in importantLinks"
            :key="i"
            :href="link.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ link.text }}
          </a>
        </v-row>
      </v-col>
 -->
     <!--  <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Apoyo en línea
        </h2>

        <v-row justify="center">
          <a
            v-for="(eco, i) in ecosystem"
            :key="i"
            :href="eco.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ eco.text }}
          </a>
        </v-row>
      </v-col> -->
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({

      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false,
      menu2: false,

      comunicacion:[],
      equipo:[],
      energia:[],
      hta:[],
      orden:[],
      condicion:[],
      mental :[],

      ecosystem: [
        {
          text: 'vuetify-loader',
          href: 'https://github.com/vuetifyjs/vuetify-loader',
        },
        {
          text: 'github',
          href: 'https://github.com/vuetifyjs/vuetify',
        },
        {
          text: 'Preguntas Frecuentes',
          href: 'https://github.com/vuetifyjs/awesome-vuetify',
        },
      ],
      importantLinks: [
        {
          text: 'Sistema de Calidad',
          href: 'https://vuetifyjs.com',
        },
        {
          text: 'Chat',
          href: 'https://community.vuetifyjs.com',
        },
              ],
      whatsNext: [
        {
          text: 'Help Desck',
          href: 'https://vuetifyjs.com/components/api-explorer',
        },
        {
          text: 'Select a layout',
          href: 'https://vuetifyjs.com/getting-started/pre-made-layouts',
        },
        {
          text: 'Preguntas Frecuentes.',
          href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions',
        },
      ],
    }),
  }
</script>
