<template>
  <v-app>
    <v-app-bar
      app
      color="grey darken-2-2"
      dark
    >
      <div class="d-flex align-center">
    
        <v-btn @click="tomarFoto" color="success">Tomar Foto</v-btn>



        <v-toolbar-title
        class="shrink mt-1 hidden-sm-and-down">
         Toma 3 minutos y 3 pasos para analizar su tarea
        </v-toolbar-title>

      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://saiterp.com"
        target="_blank"
        text
      >
        <span class="mr-2">Análisis de riesgo</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-card>
        <v-img
          height="200px"
          :src="srcDomicilio"

        ></v-img>
      
        <!-- {{srcDomicilio}}
    
        {{ imgDomicilio }}   -->      

      </v-card>
      <HelloWorld/>
    </v-main>

    <v-snackbar
      v-model="snackbar"
      :color="color"
      dark
      top
      >
      {{msg}}
      <v-btn  @click="snackbar = false">Cerrar</v-btn>
    </v-snackbar>
    
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

document.addEventListener("deviceready", onDeviceReady, false);

function onDeviceReady() {
    console.log(navigator.camera);

}

export default {
  name: 'App',

  components: {
    HelloWorld,
  },

  data: () => ({
    blobUrl:'',
    srcDomicilio: 'https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg',
    blob1: 'foto',
    imgDomicilio:'',
    msg:'',
    snackbar: false,
    color:'',
  }),


  methods: {

    tomarFoto(){

        var me = this;
        let linkNombre="mdn02020"

        //Abro la camara
        navigator.camera.getPicture( onSuccess ,  onError ,  { 
          quality: 50,   
          destinationType: 0 
        })



        //Función que se ejecuta cuando se carga la imagen
        function onSuccess(imageData) {
                
          //Verifico que la imagen no este vacia
          if(imageData == '' || imageData === undefined || imageData === null){
            //si esta vacia activo la alerta
            me.msg = 'Debes tomar la foto del domicilio'
            me.color = 'red'
            me.snackbar = true
          }else{

            //creo el src para mostrar la imagen
            me.srcDomicilio = "data:image/jpeg;base64," + imageData;
            console.log("srcDomicilio",me.srcDomicilio)

            const contentType = 'image/png';
            // Creo el el objeto blob, para ello mando a llamar una funcion a la que le mando el base64 y el tipo de archivo que será
            const blob = me.b64toBlob(imageData, contentType);
            // se crea ubjeto de tipo archivo y se le agrega el nombre
            me.imgDomicilio = new File([blob], linkNombre + '.png')

            //Preparo las imagenes para mandarlas
            let formDataDomicilio = new FormData();
            //se crea el objeto y se le agrega como un apendice el archivo 

            formDataDomicilio.append('file',me.imgDomicilio);

            console.log("formDataDomicilio", me.imgDomicilio)
            // this.$http.post('api/v1/imagen/domicilios',formDataDomicilio,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
            //   console.log(response)
            // })
            
          }
        }

        //Función que se ejecuta si la foto no se cargo
        function onError() {
          me.blob = 'de el lado de el error'
        }
      },

      //Función para convertir una imagen a un archivo
      b64toBlob(b64Data, contentType='', sliceSize=512){
        const byteCharacters = atob(b64Data);
        const byteArrays = [];

        for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        const slice = byteCharacters.slice(offset, offset + sliceSize);

        const byteNumbers = new Array(slice.length);
        for (let i = 0; i < slice.length; i++) {
          byteNumbers[i] = slice.charCodeAt(i);
        }

        const byteArray = new Uint8Array(byteNumbers);
        byteArrays.push(byteArray);
        }
        
        const blob = new Blob(byteArrays, {type: contentType});
        return blob;
      }

  }  
};
</script>
